.filter_wrapper {
  width: 80%;
  height: 80px;

  margin: 30px auto;
  padding: 20px 0;

  display: flex;
  justify-content: center;

  background-color: rgb(211, 211, 211);

  border: none;
  border-radius: 5px;
}

.filter__input {
  width: 80%;
  height: 40px;

  padding-left: 20px;

  background: transparent;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}

.filter__input:focus {
  outline: none;
}

.filter__submit {
  width: 100px;
  height: 40px;

  margin-left: 20px;

  border: none;
  border-radius: 5px;

  color: #fff;
  background-color: rgb(62, 139, 255);
}

.filter__submit:hover {
  cursor: pointer;
  background-color: rgb(55, 124, 228);
}

.filter__clear {
  margin: 10px 0 0 5px;
}

.filter__clear:hover {
  cursor: pointer;
}
